body {
  margin: 0;
  padding: 0;

}

.title
{
    text-align: center;
    padding-top: 20px;
}
.title-table
{
    font-size: 20px;
}
.button-Home
{
    font-size: 15px;
}
#bg-white
{
    background-color: #f3f3f3;

}
#buttons
{
    display: flex;
    padding: 4px;
}
#linkButton
{
    text-align: center;
    padding: 20px;
}
#button-getData
{
    margin: 20px;  
}

#fontSizeMedium
{
    font-size: 18px;
}

#table-container
{
    text-align: -webkit-center;
    padding-top: 20px;
}

.container-tableUsers {
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(208,89,109,1) 0%, rgba(231,156,118,1) 90% );
}
.Bg-Home {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(208,89,109,1) 0%, rgba(231,156,118,1) 90% );
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

.formContent {
    margin-left: 9em;
    margin-right: 9em;
}

.text-center
{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    color: white
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-usuarios
{
    padding-top: 30px;
    color: white;
    text-align: center;
}

.user-content
{
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
